/* Apply a 'dark background' */
html body{
    background-color: grey;
}

h1{
    font-family: Helvetica, serif;
    font-weight: bold;
    font-style: italic;
    color: yellow;
}

#map{
    width: auto;
    height: 500px;
    margin: auto;
}